<br /><a
href="<%= rel_prefix %>table_of_contents.html#pages">Pages</a>
<a
href="<%= rel_prefix %>table_of_contents.html#classes">Classes</a>
<a
href="<%= rel_prefix %>table_of_contents.html#methods">Methods</a>
